.mural {
	text-align: center;
	font-size: 1.2rem;
}
.mural--Linhas {
	flex-direction: column;
}
.mural--Linhas .cartao {
	flex-basics: auto;
	width: auto;
	display: block;
}
.flexwrap .mural {
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 610px){
	.mural {
		align-items: flex-start;
	}
}
@media (min-width: 900px){
	.mural {
		align-items: center;
		font-size: 1.3rem
	}
}